<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{dto.user.name}}</title>
</head>
<body>
    <h1>Hi {{dto.user.name}}</h1>
    <ul>
        {{#each dto.users}}
        <li>{{name}} {{dto.user.name}}</li>
        {{/each}}
    </ul>
</body>
</html>